@charset "utf-8";

#wrap { width:100%; overflow:hidden; }

/* 공용 스타일/////////////////////////////////////////////////////////////////////////// */

.container { width:100%; }

.gap { margin:0 30px; }
.gap .container { width:100%; }

.title { padding:40px 0; }
.title h2 { font-size:30px; font-weight:600; }

.sub2Menu_line { display:block; width:100%; height:1px; background-color:#a7a7a7; margin-bottom:15px; }

/* 표 스타일 */
.board_wrap { width:100%; margin-top:2%; }
.board_wrap > ul { width:100%; }
.board_wrap > ul > li {  text-align:center; }
.board_wrap > ul > li:first-child { border-top:1px solid #999; border-bottom:1px solid #999; background-color:#e4e4e2; }
.board_wrap > ul > li:first-child > span { float:left; font-weight:bold; display:block; line-height:48px; }
.board_wrap > ul > li:first-child > span:nth-child(1) { width:23.333%; }
.board_wrap > ul > li:first-child > span:nth-child(2) { width:23.333%; }
.board_wrap > ul > li:first-child > span:nth-child(3) { width:23.333%; }
.board_wrap > ul > li:first-child > span:nth-child(4) { width:10%; }
.board_wrap > ul > li:first-child > span:nth-child(5) { width:10%; }
.board_wrap > ul > li:first-child > span:nth-child(6) { width:10%; }

.board_wrap  > ul > li > ul { width:100%; }
.board_wrap  > ul > li > ul > li { border-bottom:1px solid #ccc; cursor:pointer; }
.board_wrap  > ul > li > ul > li:hover { background-color:#e4e4e2; }
.board_wrap  > ul > li > ul > li > span { display:inline-block; color:#555; line-height:40px; }
.board_wrap  > ul > li > ul > li > span:nth-child(1) { width:23.333%; }
.board_wrap  > ul > li > ul > li > span:nth-child(2) { width:23.333%; }
.board_wrap  > ul > li > ul > li > span:nth-child(3) { width:23.333%; }
.board_wrap  > ul > li > ul > li > span:nth-child(4) { width:10%; }
.board_wrap  > ul > li > ul > li > span:nth-child(5) { width:10%; }
.board_wrap  > ul > li > ul > li > span:nth-child(6) { width:10%; }

/* ////////////////////////////////////////////////////////////////////////////////// */

#main { float:left; width:90%; }
#main #section1 { width:100%; }
#main #section1 .sosSearch_wrap { width:100%; }
#main #section1 .sosSearch_wrap > ul { width:100%; }
#main #section1 .sosSearch_wrap > ul > li { float:left; position:relative; }
#main #section1 .sosSearch_wrap > ul > li:first-child { width:8%; }
#main #section1 .sosSearch_wrap > ul > li:last-child {  width:92%; }
#main #section1 .sosSearch_wrap > ul > li .sosSearchText { line-height:37px; font-weight:bold; }
#main #section1 .sosSearch_wrap > ul > li h3 { margin-top:15px; }
#main #section1 .sosSearch_wrap > ul > li input[type='date'] { display:inline-block; height:35px; border:1px solid #ddd; border-radius:5px; font-size:14px; }
#main #section1 .sosSearch_wrap > ul > li input[type='text'] { margin-top:15px; display:block; width:500px; height:37px; border-radius:10px; border:1px solid #ddd; }
#main #section1 .sosSearch_wrap > ul > li input[type='submit'] { display:block; position:absolute; border-radius:3px; padding:5px 15px; color:#fff; font-size:13px; font-weight:600; transition:all .3s; }
#main #section1 .sosSearch_wrap > ul > li input[type='submit'].sosSearch { bottom:0; right:75px; background-color:#878a8b; }
#main #section1 .sosSearch_wrap > ul > li input[type='submit'].sosPrint { bottom:0; right:0; background-color:rgb(255, 166, 0); }

#main #section1 .sosBoard_wrap > ul > li:last-child { height:600px; overflow-y: scroll; -ms-overflow-style: none; }