@charset "utf-8";

#wrap { width:100%; overflow:hidden; }

/* 공용 스타일/////////////////////////////////////////////////////////////////////////// */

.container { width:100%; }

.gap { margin:0 30px; }
.gap .container { width:100%; }

.title { padding:40px 0; }
.title h2 { font-size:30px; font-weight:600; }

.sub2Menu_line { display:block; width:100%; height:1px; background-color:#a7a7a7; }

.search_wrap { position:absolute; top:0; left:0; }
.search_wrap input[type='text'] { width:300px; height:31px; border:1px solid #ddd; display:block; }

.button_wrap { width:100%; }
.button_wrap > ul { width:100%; }
.button_wrap > ul > li { float:right; }
.button_wrap > ul > li > div { margin-left:15px; }
.button_wrap > ul > li > div input[type='submit'] { display:block; border-radius:3px; padding:5px 15px; color:#fff; font-size:13px; font-weight:600; transition:all .3s; }
.button_wrap > ul > li > div input[type='submit'].search { background:#878a8b; }
.button_wrap > ul > li > div input[type='submit'].save { background:#0e68b3; }
.button_wrap > ul > li > div input[type='submit'].delete { background:#be1111; }

/* 표 스타일 */
.board_wrap { width:100%; margin-top:2%; }
.board_wrap > ul { width:100%; }
.board_wrap > ul > li {  text-align:center; }
.board_wrap > ul > li:first-child { border-top:1px solid #999; border-bottom:1px solid #999; background-color:#e4e4e2; }
.board_wrap > ul > li:first-child > span { float:left; font-weight:bold; display:block; line-height:48px; }
.board_wrap > ul > li:first-child > span:nth-child(1) { width:20%; }
.board_wrap > ul > li:first-child > span:nth-child(2) { width:60%; }
.board_wrap > ul > li:first-child > span:nth-child(3) { width:20%; }

.board_wrap  > ul > li > ul { width:100%; }
.board_wrap  > ul > li > ul > li { border-bottom:1px solid #ccc; cursor:pointer; }
.board_wrap  > ul > li > ul > li:hover { background-color:#e4e4e2; }
.board_wrap  > ul > li > ul > li > span { display:inline-block; color:#555; line-height:40px; }
.board_wrap  > ul > li > ul > li > span:nth-child(1) { width:20%; }
.board_wrap  > ul > li > ul > li > span:nth-child(2) { width:60%; }
.board_wrap  > ul > li > ul > li > span:nth-child(3) { width:20%; }

.deviceJoin_wrap { width:100%; margin-top:15px; }
.deviceJoin_wrap > ul { width:100%; max-width:1000px; padding:15px 0; margin:0 auto; }
.deviceJoin_wrap > ul > li { float:left; width:50%; }
.deviceJoin_wrap > ul > li > div { margin:0 15px; text-align:center; }
.deviceJoin_wrap > ul > li > div .deviceJoin_title  { float:left; width:20%; }
.deviceJoin_wrap > ul > li > div .deviceJoin_title h2 { line-height:45px; margin-bottom:15px; font-weight:bold; }
.deviceJoin_wrap > ul > li > div .deviceJoin_input  { float:left; width:80%; }
.deviceJoin_wrap > ul > li > div .deviceJoin_input input[type='text'] { display:inline-block; margin-bottom:15px; border-radius:10px; border:1px solid #ddd; }
.deviceJoin_wrap > ul > li > div .deviceJoin_input input[type='text']#boat_nm { background-color: #eee; cursor: default; }
.deviceJoin_wrap > ul > li > div .deviceJoin_input input[type='text']#marina_id { background-color: #eee; cursor: default; }

/* ////////////////////////////////////////////////////////////////////////////////// */

#main { float:left; width:90%; }

section { position:relative; display:none; }

/*라디오버튼 숨김*/
input { display: none; }
.tabs { padding-bottom:15px; margin-right:30px; display: inline-block; font-weight: 600; color:#a7a7a7; text-align: center; border-bottom: 1px solid transparent; }
.tabs:hover { color: #555; cursor: pointer; }

/*input 클릭시, label 스타일*/
input:checked + .tabs { color: #555; border-bottom: 2px solid #555; transition:all .3s; }

#tab1:checked ~ #section1,
#tab2:checked ~ #section2 { display:block; }

#main #section1 { width:100%; margin-top:15px; }

#main #section1 .boat_board > ul > li:last-child { height:450px; overflow-y: scroll; -ms-overflow-style: none; }



#main #section2 { width:100%; margin-top:15px; }

#main #section2 .anchor_board > ul > li:last-child { height:450px; overflow-y: scroll; -ms-overflow-style: none; }

/* 구역영역 select박스 */
.selectbox { text-indent: 15px; text-align: left; position:relative; display: inline-block; width:376px; border-radius:10px; border:1px solid #ddd; background-color:#fff;box-sizing: border-box; }
.selectbox label { top: 5px; left:-5px; }
.selectbox select { height: 45px; }