@charset "utf-8";

#wrap { width:100%; overflow:hidden; }

/* 공용 스타일/////////////////////////////////////////////////////////////////////////// */

.container { width:100%; }

.gap { margin:0 30px; }
.gap .container { width:100%; }

.title { padding:40px 0; }
.title h2 { font-size:30px; font-weight:600; }

.sub2Menu_line { display:block; width:100%; height:1px; background-color:#a7a7a7; }

/* 검색창 스타일 */
.search_wrap { position:absolute; top:0; left:0; }
.search_wrap input[type='text'] { width:300px; height:31px; border:1px solid #ddd; display:inline-block; }

/* 버튼 스타일 */
.button_wrap { width:100%; }
.button_wrap > ul { width:100%; }
.button_wrap > ul > li { float:right; }
.button_wrap > ul > li > div { margin-left:15px; }
.button_wrap > ul > li > div input[type='submit'] { display:block; border-radius:3px; padding:5px 15px; color:#fff; font-size:13px; font-weight:600; transition:all .3s; }
.button_wrap > ul > li > div input[type='submit'].search { background:#878a8b; }
.button_wrap > ul > li > div input[type='submit'].save { background:#0e68b3; }

/* ////////////////////////////////////////////////////////////////////////////////// */

#main { float:left; width:90%; }

#main #section1 { width:100%; margin-top:15px; position:relative; }



#main #section2 { width:100%; margin-top:2%; }

#main #section2 .userGroup_left  { float:left; width:50%; }
#main #section2 .userGroup_left .gap { margin:0 10%; }

#main #section2 .userGroup_board { width:100%; margin-top:2%; }
#main #section2 .userGroup_board > ul { width:100%; border:1px solid #ccc; border-top:0; }
#main #section2 .userGroup_board > ul > li { text-align:center; }
#main #section2 .userGroup_board > ul > li:first-child { border-top:1px solid #ccc; border-bottom:1px solid #ddd; background-color:#e4e4e2; }
#main #section2 .userGroup_board > ul > li:first-child > span { width:100%; font-weight:bold; display:block; line-height:48px; }
#main #section2 .userGroup_board > ul > li:last-child { height:690px; overflow-y: scroll; -ms-overflow-style: none; }
#main #section2 .userGroup_board > ul > li:last-child::-webkit-scrollbar{ display:none; }

#main #section2 .userGroup_board > ul > li > ul { width:100%; }
#main #section2 .userGroup_board > ul > li > ul > li { border-bottom:1px solid #ccc; }
#main #section2 .userGroup_board > ul > li > ul > li > span { display:inline-block; width:100%; color:#555; line-height:40px; }


#main #section2 .userGroupJoin_wrap { width:100%; margin-top:15px; }
#main #section2 .userGroupJoin_wrap > ul { width:100%; padding:15px 0; }
#main #section2 .userGroupJoin_wrap > ul > li { width:100%; }
#main #section2 .userGroupJoin_wrap > ul > li > div { margin:0 15px; }
#main #section2 .userGroupJoin_wrap > ul > li > div .userGroupJoin_title  { float:left; width:20%; }
#main #section2 .userGroupJoin_wrap > ul > li > div .userGroupJoin_title h2 { line-height:45px; margin-bottom:15px; font-weight:bold; }
#main #section2 .userGroupJoin_wrap > ul > li > div .userGroupJoin_input { float:left; width:80%; }
#main #section2 .userGroupJoin_wrap > ul > li > div .userGroupJoin_input input[type='text'] { display:inline-block; margin-bottom:15px; border-radius:10px; border:1px solid #ddd; }
#main #section2 .userGroupJoin_wrap > ul > li > div .userGroupJoin_input textarea { display:inline-block; margin-bottom:15px; border-radius:10px; border:1px solid #ddd; }



#main #section2 .userGroup_right { float:left; width:50%; text-align:center; }
#main #section2 .userGroup_right .gap { margin:0 10%; }

#main #section2 .board_wrap { width:100%; }
#main #section2 .group_board { margin-top:15px; }
#main #section2 .board_wrap h2 { padding:15px 1px; width:100%; font-weight:bold; color:#fff; background-color:#0e68b3; }
#main #section2 .board_wrap > ul { width:100%; border:1px solid #ccc; border-top:0; }
#main #section2 .board_wrap > ul > li { text-align:center; }
#main #section2 .board_wrap > ul > li:first-child { border-top:1px solid #ccc; border-bottom:1px solid #ddd; background-color:#e4e4e2; }
#main #section2 .board_wrap > ul > li:first-child > span { float:left; font-weight:bold; display:block; line-height:48px; }
#main #section2 .board_wrap > ul > li:first-child > span:nth-child(1) { width:50%; }
#main #section2 .board_wrap > ul > li:first-child > span:nth-child(2) { width:50%; }

#main #section2 .board_wrap > ul > li > ul { width:100%; }
#main #section2 .board_wrap > ul > li > ul > li { border-bottom:1px solid #ccc; }
#main #section2 .board_wrap > ul > li > ul > li > span { display:inline-block; color:#555; line-height:40px; }
#main #section2 .board_wrap > ul > li > ul > li > span:nth-child(1) { width:50%; }
#main #section2 .board_wrap > ul > li > ul > li > span:nth-child(2) { width:50%; }

#main #section2 .user_board > ul > li:last-child { height:270px; overflow-y: scroll; -ms-overflow-style: none; }
#main #section2 .user_board > ul > li:last-child::-webkit-scrollbar{ display:none; }

#main #section2 .bottomArrow { width:100%; margin-right:5px; }
#main #section2 .bottomArrow a { display:inline-block; margin:20px 0; }
#main #section2 .bottomArrow a img { width:100%; max-width:32px; }
#main #section2 .topArrow { width:100%; margin-left:5px;  }
#main #section2 .topArrow a { display:inline-block; margin:20px 0; }
#main #section2 .topArrow a img { width:100%; max-width:32px; }

#main #section2 .group_board > ul > li:last-child { height:270px; overflow-y: scroll; -ms-overflow-style: none; }
#main #section2 .group_board > ul > li:last-child::-webkit-scrollbar{ display:none; }