@charset "utf-8";

*{
    margin:0;padding:0;
    -webkit-box-sizing: border-box;-moz-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
}

body{
    font-family: 'Noto Sans KR', 'Noto Sans', sans-serif;
}

article{margin:5 0;}
li{list-style:none;}
a{text-decoration:none;}
section{display:block;overflow:hidden;}
h1,h2,h3,h4,h5{font-weight:normal;}

h1{font-size:54px;line-height:74px;color:#6b727a;}
h2{font-size:46px;line-height:50px;color:#6b727a;}
h3{font-size:30px;line-height:34px;}
h4{font-size:20px;line-height:26px;color:#6b727a;}
h5{font-size:16px;line-height:20px;color:#6b727a;}
li, p, input, label, select, option, a{font-size:14px;line-height:18px;color:#6b727a;}

/*weather frame*/
.weather_frame{
	width:100%;
	height:auto;
	background-repeat: no-repeat;
    background-position: 50% 50%;
	background-size: cover;
	background-image:url('../img/weather-bg.jpg');
	padding:0 5px;
	overflow: hidden;
}

.weather_frame h4, .weather_frame p, .weather_frame h2, .weather_frame span{color:#fff;}

    .main_gnb{width: 100%;height:60px;padding:15px 10px;text-align: left;}
    .main_gnb h4.logo{display:inline-block;font-weight:bold;line-height: 30px;}
    .main_gnb nav{float:right;margin:3px 0;}
/*    .main_gnb nav a{display:block;float:left;width:24px;height:24px;background-repeat: no-repeat;background-position: 50% 100%;background-size:24px;} */
    .main_gnb nav div{display:block;float:left;width:24px;height:24px;background-repeat: no-repeat;background-position: 50% 100%;background-size:24px;}
        .settings_btn{background-image: url('../img/settings-btn.png');margin-right:20px;}
        .search_btn{background-image: url('../img/search-btn.png');}
        .settings_btn:hover,.search_btn:hover{background-position: 50% 0%;}
        
    .weather_contents{padding:10px 10px 0 10px;}
    .weather_contents section{width:100%;overflow: hidden;}

        .wconts_top h4{padding-left:24px;background:url('../img/location-icon.png')no-repeat 0% 50%;background-size:20px;}
        .wconts_top p{padding:5px 0;}

        .wconts_mid{padding-top:20px;height:136px;}
            .face_icon{
                -webkit-width:calc(100% - 230px);-moz-width:calc(100% - 230px);-o-width:calc(100% - 230px);width:calc(100% - 230px);
                height:100%;float:left;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: contain;
            }
            .air_details{width:230px;height:100%;overflow: hidden;float:left;position: relative;}
                .balloon_cover{width:215px;height:100%;background:rgba(0,0,0,0.5);position: absolute;top:0;right:0;border-radius: 15px;display:table;}
                .air_details::before{
                    content:"";
                    border-top:15px solid transparent;
                    border-right:15px solid rgba(0,0,0,0.5);
                    border-bottom:15px solid transparent;
                    position: absolute;top:43px;left:0;
                }
                .balloon_cover ul{display: table-cell;text-align: center;vertical-align: middle;font-size:0;padding-left: 10px;}
                .balloon_cover ul li{padding:5px 0;overflow:hidden;}
                .balloon_cover ul li span{text-align: right;padding-right:10px;display:block;float:left;}
                .balloon_cover ul li span:first-child{width:90px;border-right: 1px solid #fff;}
                .balloon_cover ul li span:nth-child(2){width:60px;}
                .balloon_cover ul li span:last-child{font-size:12px;}

        .wconts_bot{padding-top:20px;}
        .wconts_bot ul{padding:10px 0;overflow: hidden;}
        .wconts_bot ul li{width:33.33%;float:left;border-right:1px solid #ccc;padding: 0 10px;text-align: center;}
        .wconts_bot ul li p{color:#eee;}
        .wconts_bot ul li h2{color:#eee;height:70px;padding-top:10px;}
        .wconts_bot ul li h2>span{font-size:22px;padding-left:5px;}
        .wconts_bot ul li:first-child h2{width:100%;background-repeat: no-repeat;background-position: 50% 50%;background-size: 60px;}
        .wconts_bot ul li:last-child{border:0;}
        .wconts_bot > h3{font-weight: bold;text-align: right;padding:5px 0;}
        .wconts_bot > h3 > span{font-size: 14px;color:#fff;font-weight:normal;padding-right:10px;}

/*history frame*/
.history_frame{padding:10px 0;}
.history_frame h4{padding-left:21px;background:url('../img/fav-icon.png')no-repeat 0% 50%;background-size:18px;margin:10px 5px 10px;}

    .history_list{padding:5px;}
    .history_list > li{width:100%;height:142px;padding:10px 0;border:1px solid #ccc;margin:10px 0;}
    .history_list > li:first-child{margin-top:0;}
    .history_list > li > div{display: block;width:100%;height:100%;}
    .history_list > li > div > div{float:left;}
        .facility_name{width:25%;height:100%;display:table;}
        .facility_name h5{display: table-cell;text-align: center;vertical-align: middle;padding:0 10px;border-right:1px solid #ccc;}
        .facility_indoor_air{width:75%;max-width:340px;height:100%;padding-left:10px;}
        .facility_indoor_air .air_details{width:186px;}
        .facility_indoor_air .air_details::before{border-right:0;border-left:15px solid #ccc;top:66px;left:unset;right:0;}
        .facility_indoor_air .air_details::after{
            content:"";
            border-top:15px solid transparent;
            border-bottom:15px solid transparent;
            border-left:15px solid #fff;
            position: absolute;top:66px;right:1px;
        }
        .facility_indoor_air > div{
            -webkit-width:calc(100% - 186px);-moz-width:calc(100% - 186px);-o-width:calc(100% - 186px);width:calc(100% - 186px);height:100%;
            float:left;
        }
        .facility_indoor_air > div .face_icon{width:100%;height:85%;float:none;background-position: 50% 100%;}
        .facility_indoor_air > div p{height:15%;font-size:16px;line-height:18px;text-align: center;}
        .facility_indoor_air .balloon_cover{width:174px;background:#fff;border:1px solid #ccc; right: unset;left:0;}
        .facility_indoor_air .balloon_cover ul{padding-left:0;}
        .facility_indoor_air .balloon_cover ul li{font-size:12px;line-height:16px;padding:3px 0;}
        .facility_indoor_air .balloon_cover ul li span:first-child{width:72px;border-right:1px solid #aaa;}


/*indoor air data frame*/

.inair_frame {padding:10px 0;}
    .inair_ave{
        width:100%;height:auto;padding:10px;
        background-repeat: no-repeat; background-position: 50% 50%; background-size: cover;
        background-image: url('../img/indoor-air-bg.jpg');
        text-align: center;
    }
    .inair_ave h4{padding:20px 0;color:#fff;}
    .inair_ave_midbox{width:100%;height:120px;}
    .inair_ave_midbox .face_icon{width:100%;height:100%;}
    .inair_ave p{color:#fff;padding:10px 0;}
    .inair_ave p span{font-size:30px;padding:0 5px;}
    .inair_ave2{
        background-image: url('../img/indoor-air-bg2.jpg');
    }

    .inair_data{width:100%;height:auto;background-color: #eee;padding:10px 5px;}
    .inair_data ul li{width:50%;height:auto;float:left;padding:5px;}
        .data_box{width:100%;height:200px;background-color: #fff;padding:15px 6px;}
        .data_box > h5{padding-bottom: 5px;}
        .data_box > p{padding-left:23px; margin-bottom:15px; background-repeat: no-repeat; background-position: 0% 50%; background-size: 18px;}
        .data_box .now_data{width:100%; height:auto; background-color: #eee;border-radius: 10px;padding-top: 10px;}
        .data_box .now_data h1{text-align: center;}
        .data_box .now_data h1 small{font-size:16px;}
        .data_box .graph_box{width:100%;}
            .graph_img{width:100%;padding:0 10px;}
            .graph_img >div{width:100%;position: relative;}
                .graph_arrow_box{height:18px;margin-left: -1px;}
                .graph_arrow{
                    width:3px;
                    position: absolute; top:0;z-index: 1;
                    border-top:18px solid #ccc;
                    border-right:1px solid transparent;
                    border-left:1px solid transparent;
                }
                .graph_line_box{height:1px;}
                .graph_line_box .line{width:100%;height:1px;background-color:#555;position: absolute;top:50%;left:0;}
                .graph_line_box .line_center{width:1px;height:10px;background-color:#555;position: absolute;top:0;left:50%;margin-top: -4px;}
                .graph_line_box .good_zone{height:10px;position: absolute;top:0;margin-top: -4px;}
            .graph_txt{width:100%;text-align:center;padding:5px 0;font-size: 12px;line-height:14px;}
            .graph_txt span:first-child{float:left;}
            .graph_txt span:last-child{float: right;}
        .data_box > h1{line-height:56px;}
        .data_box > h1 > .small_name{font-size:16px;line-height:18px;word-break:break-all;display:block;padding:0 15px;}

        .data_box_small{width:100%;height:150px;background-color: #fff;padding:15px 6px;}
        .data_box_small > h5{padding-bottom: 5px;}
        .data_box_small > p{padding-left:23px; margin-bottom:15px; background-repeat: no-repeat; background-position: 0% 50%; background-size: 18px;}
        .data_box_small .now_data{width:100%; height:auto; background-color: #eee;border-radius: 10px;padding-top: 10px;}
        .data_box_small .now_data h1{text-align: center;}
        .data_box_small .now_data h1 small{font-size:16px;}
        .data_box_small .graph_box{width:100%;}
            .graph_img{width:100%;padding:0 10px;}
            .graph_img >div{width:100%;position: relative;}
                .graph_arrow_box{height:18px;margin-left: -1px;}
                .graph_arrow{
                    width:3px;
                    position: absolute; top:0;z-index: 1;
                    border-top:18px solid #ccc;
                    border-right:1px solid transparent;
                    border-left:1px solid transparent;
                }
                .graph_line_box{height:1px;}
                .graph_line_box .line{width:100%;height:1px;background-color:#555;position: absolute;top:50%;left:0;}
                .graph_line_box .line_center{width:1px;height:10px;background-color:#555;position: absolute;top:0;left:50%;margin-top: -4px;}
                .graph_line_box .good_zone{height:10px;position: absolute;top:0;margin-top: -4px;}
            .graph_txt{width:100%;text-align:center;padding:5px 0;font-size: 12px;line-height:14px;}
            .graph_txt span:first-child{float:left;}
            .graph_txt span:last-child{float: right;}

    .inair_data2{width:100%;height:auto;background-color: #eee;padding:10px 5px;}
    .inair_data2 ul li{width:100%;height:auto;float:left;padding:5px;}


/*inair data sub page*/
.subpage{background: #eee;padding-top:50px;}

    .subpage_title{width: 100%;height:50px;padding:0 10px;text-align: center;border-bottom:1px solid #ddd;position:fixed;top:0;left:0;z-index:5;background-color:#fff;}
    .subpage_title h4{line-height:50px;}
    .subpage_title .close_btn{width:24px;height:24px;font-size:40px;line-height:14px;color:#6b727a;background:none;border:0;position: absolute; top:17px;right:10px;}
    .subpage_title .close_btn:hover{color:#4dd7a8;}
    .subpage_title .search_btn{width:24px;height:24px;border:0;position:absolute;top:17px;right:40px;background-position:50% 100%;background-size: 24px;background-image: url('../img/search-sub-btn.png');}
    .subpage_title .search_btn:hover{background-position: 50% 0%;}

    .subpage .inair_ave{padding-bottom:30px;}
    .subpage .inair_ave_midbox{height:140px; margin: 20px 0;}
    .subpage .air_details{width:205px;overflow: unset;}
    .subpage .air_details::before{border-right:0;border-left:15px solid rgba(0,0,0,0.5);right:0;left:unset;}
    .subpage .balloon_cover{width:190px;right:unset;left:0;}
    .subpage .balloon_cover > p{color:#ffe6a7;padding:0;position:absolute;top:-8px;left:30%;}
    .subpage .balloon_cover ul{padding-right:10px;padding-left:0;}
    .subpage .balloon_cover ul li{color:#fff;}
    .subpage .balloon_cover ul li span:first-child{width:80px;}
    .subpage .inair_ave_midbox .face_icon{-webkit-width: calc(100% - 205px);-moz-width: calc(100% - 205px);-o-width: calc(100% - 205px);width: calc(100% - 205px);}

    .cbtn_frame{width:100%;height:auto;display:table;margin-top:-25px;}
    .cbtn_frame .control_btn{display:table-cell;text-align: center;vertical-align: middle;}
    .cbtn_frame .control_btn p{display: inline-block;margin:0 5px;padding:10px 20px;background:#eba326;font-size:16px;line-height: 18px;color:#fff;border-radius: 10px;}
    .cbtn_frame .control_btn p:hover{background:#4dd7a8;}
    
    .ds_amount h4{text-align: center;padding:5px 0;}
    .ds_amount .sel_box{width:100%;padding:0 5px;}
    .ds_amount .sel_box > select:last-child{width:100%;background-color:#fff;}
    .ds_amount ul li .data_frame{width:100%;height:240px;position: relative;}
    .ds_amount ul li .data_frame >div{width:100%;height:100%;position: absolute;bottom:0;left:0;}
    .ds_amount .data_box{display:table;padding:0;}
    .ds_amount .data_box > h1{display:table-cell;text-align: center;vertical-align: middle;position: relative;z-index: 2;color:#5754d8;}
    .ds_amount .data_box > h1 > small{font-size:32px;font-weight: bold;}
    .ds_amount ul li .data_frame >div.bg_color_frame{height: 210px;bottom: 15px;}
        .bg_color_frame > div{width:100%;height:100%;position: relative;}
        .bg_color_frame .bg_color{width:100%;position: absolute;bottom:0;left:0;background-color:#68b4ff;}
        .dsimg_cover{background-size: 100% 240px; background-image: url('../img/ds_amount_bg.png'); background-position: 50% 50%; background-repeat: no-repeat;}
        .dsimg_cover2{background-size: 80% 240px; background-image: url('../img/ds_amount_empty.png'); background-position: 50% 5%; background-repeat: no-repeat;}
        .dsimg_cover.red_cover{background-image: url('../img/ds_amount_bg-red.png');}


    .list_data{width:100%;height:auto;background-color: #eee;padding:10px 5px;}
    .list_data ul li{width:50%;height:auto;float:left;padding:5px;}
        .list_box{width:100%;height:200px;background-color: #fff;padding:15px 6px;}
        .list_box > h5{padding-bottom: 5px;}
        .list_box > p{padding-left:23px; margin-bottom:15px; background-repeat: no-repeat; background-position: 0% 50%; background-size: 18px;}


/*popup style*/
.popup_frame{width:100%;height:100vh;position: fixed;top:0;left: 0;z-index: 9;}
.popup_frame_inner{width:100%;height:100vh;position:relative;}
    .black_cover{width:100%;height:100vh;background:rgba(0,0,0,0.7);position:absolute;top:0;left: 0;}
    .conts_box{width:100%;height:100vh;position:absolute;top:0;left:0;display:table;}
        .conts_inbox{width:100%;height:100vh;display:table-cell;text-align: center;vertical-align: middle;}
            .conts_inner{background: #fff;width: 90%;margin: 0 auto;padding: 20px;overflow-y: auto;}
            .conts_inner h4{padding:20px 0;color:#000;}
            .conts_inner form{padding:5px 0;}
                .inputbox_wrap{padding-bottom:10px;}
                    .inputbox{padding:5px 0;overflow: hidden;}
                    .inputbox label{display:block;width:30%;padding:5px 10px 5px 0;float:left;text-align: right;}
                    .inputbox input{width:50%;float:left;border:0;border-bottom:1px solid #eee;padding:5px;text-align: right;color:#000;}
                    .inputbox p{width:20%;float:left;padding:5px;font-size:12px;text-align: left;}
                .conts_inner form > p{padding:20px 10px 10px;}
                .inputbox_btn{padding:10px 0;}
                .inputbox_btn input{padding:10px 30px;border:1px solid #ccc; background:none;border-radius: 5px;margin:0 5px;cursor: pointer;}
                .inputbox_btn input:hover{background-color:#4dd7a8 ;color:#fff ;border:1px solid #4dd7a8;}


/*search-page*/
.search-input{width:100%;height:auto;position: relative;padding:10px;margin:10px auto;}
.search-input input[type=text]{width:100%;padding-right:30px;line-height: 30px;border:0;border-bottom:1px solid #eee;color:#000;}
.search-input input[type=button]{
    width:24px;height: 24px;
    position: absolute; top:10px;right:10px;
    background-color:transparent;
    background-repeat: no-repeat;background-position: 50% 100%;background-size: 24px;
    background-image: url('../img/search-page-btn.png');
    border:0;
    padding:2px;
    font-size: 0;
    cursor: pointer;
}
.search-input input[type=submit]:hover{background-position: 50% 0%;}

/*settings-search-page*/
.settings-page .search-input{overflow: hidden;margin-top:0;}
    .sel_box{width:80%;float: left;}
    .sel_box select{
        padding:5px 10px;margin:0 auto;
        line-height: 30px;color:#000;
        border:0;border-bottom:1px solid #eee;
        -webkit-appearance: none;-moz-appearance: none;appearance: none;
        background-color:#fff;
        background-image: url('../img/select-arrow.png');background-repeat:no-repeat;background-position: 95% 50%;background-size: 15px;
    }
    .sel_box select::-ms-expand {display: none;}
    .sel_box select:first-child{width:38%;margin-right:2%;float:left;}
    .sel_box select:last-child{width:60%;}
    .settings-page .search-input input[type=submit]{
        width: auto;height: auto;float: right;
        background-image: none;background-color: #eba326;
        color: #fff;
        position: unset;top: unset;right: unset;
        padding: 11px 15px;
        font-size: 14px;
    }
    .settings-page .search-input input[type=submit]:hover{background-color:#4dd7a8;}

.search-result{padding:10px 0;}
.search-result h4{padding-left:21px;background:url('../img/fav-icon.png')no-repeat 0% 50%;background-size:18px;margin:10px 5px 10px;}
    .search-result-list{padding:5px;}
	.search-result-list .result_list2 {border:0;}
	.search-result-list .result_list2 > ol {text-align: center; width:99%}
	.search-result-list .result_list2 > ol > li{margin:3px 2px 0 2px;float:left;line-height:auto;text-align:left;width:48%; background-color: #ffffff; border-bottom:1px solid #ddd; padding:0.5em; line-height: 1em;border-radius:0.2em;-moz-border-radius: 0.2em;-webkit-border-radius: 0.2em;}


.search-result .result-none{
    width:100%;height:60px;border:none;display:table;
    background-repeat: no-repeat;background-position: 50% 20%;background-size: 80px;
    background-image: url('../img/search-img.png');
}
    .result-none h5{display:table-cell;text-align: center;vertical-align: middle;color:#bbb;}


.settings-page .result-none.set_bgimg{background-image: url('../img/settings-img.png');}
.tit_name{border-bottom:1px solid #ddd;}
.tit_name > ol, .result_list > ol{overflow: hidden;}
.tit_name > ol > li{float:left;line-height:32px;text-align: center;width:50%;}

.result_list > ol{text-align: center;}
.result_list > ol > li{margin:3px 2px 0 2px;float:left;line-height:auto;text-align:center;width:48%; background-color: #eee; border:1px solid #ddd; padding:0.5em; line-height: 1em;border-radius:0.5em;-moz-border-radius: 0.5em;-webkit-border-radius: 0.5em;}
.result_list input[type=checkbox]{margin-top:10px;}
.result_list a{color:#6b727a;}
.result_list a:hover{color:#4dd7a8;}
ol.warning_color > li, ol.warning_color > li > a{color:#ff6868;}
.cbtn_frame.list_btn{margin-top:30px;margin-bottom:20px;}



   
nav.sub_nav{width:100%;height:50px;position: fixed;bottom:0;left:0;z-index: 5;}
nav.sub_nav > div{width:100%;height:100%;background-color:#fff;border-top:1px solid #eee;position: relative;}
nav.sub_nav > div > button{
    width:50%;height:100%;float:left;
    font-size: 14px;color:#6b727a;line-height:30px;text-align:center;
    background-repeat: no-repeat;background-position: 30% 48%;background-size: 24px;background-color: #fff;
    border:0;border-right:1px solid #eee; cursor: pointer;
}
nav.sub_nav > div > button:last-child{border:0;}
nav.sub_nav > div > .home_btn{padding-left:10px;background-image: url(../img/home-btn2.png);}
nav.sub_nav > div > .bot_search_btn{background-image: url(../img/search-btn2.png);background-position: 32% 50%;}
nav.sub_nav > div > button:hover{background-color:#4dd7a8;color:#fff;}
nav.sub_nav > div > .home_btn:hover{background-image: url(../img/home-btn2-hover.png);}
nav.sub_nav > div > .bot_search_btn:hover{background-image: url(../img/search-btn2-hover.png);}
       
nav.sub_nav2{width:100%;height:50px;position: fixed;bottom:0;left:0;z-index: 5;}
nav.sub_nav2 > div{width:100%;height:100%;background-color:#fff;border-top:1px solid #eee;position: relative;}
nav.sub_nav2 > div > button{
    width:99%;height:100%;float:left;
    font-size: 14px;color:#6b727a;line-height:30px;text-align:center;
    background-repeat: no-repeat;background-position: 30% 48%;background-size: 24px;background-color: #fff;
    border:0;border-right:1px solid #eee; cursor: pointer;
}
nav.sub_nav2 > div > button:last-child{border:0;}
nav.sub_nav2 > div > .home_btn{padding-left:10px;background-image: url(../img/home-btn2.png);}
nav.sub_nav2 > div > .bot_search_btn{background-image: url(../img/search-btn2.png);background-position: 32% 50%;}
nav.sub_nav2 > div > button:hover{background-color:#4dd7a8;color:#fff;}
nav.sub_nav2 > div > .home_btn:hover{background-image: url(../img/home-btn2-hover.png);}
nav.sub_nav2 > div > .bot_search_btn:hover{background-image: url(../img/search-btn2-hover.png);}

#loading {
 width: 100px;  
 height: 100px;  
 top: 250px;
 left: 100px;
 position: fixed;  
 display: block;  
 opacity: 0.7;  
 background-color: #fff;  
 z-index: 99;  
 text-align: center; } 
  
#loading-image {  
 position: absolute;  
 top: 50%;  
 left: 50%; 
 z-index: 100; }

  