/**
 * 2018.04.17 khj custom.css �깮�꽦
 * 怨듯넻 �뒪���씪�쓣 �꽕�젙�빀�땲�떎.
 * �띁釉붾━�떛怨� 異⑸룎�븯吏� �븡湲곗쐞�빐 �깮�꽦�븯���뒿�땲�떎.
 * */
 
/* dialog, modal */
.dialog{position: fixed; z-index: 100;}
.bg-modal {width:100%; height:100%; min-height:2000px; position:fixed; top:0; left:0; z-index:2000; background:#000; opacity: 0.5; display:none;}
.over-modal {z-index:5000;}

.no-img{
	width: 150px;
	height: 150px;
}

input.disabled{
	background:#e9edf1; 
	border:1px solid #dfe3e9; 
	color:#354052;
}
button.disabled{
	background:#e9edf1; 
	border:1px solid #dfe3e9; 
	color:#354052;
	cursor:default;
	pointer-events: none;
}
.grid_area .preview{
	max-width:120px;
	max-height:120px;
}

/* order print layout style (sample) */
.order-print div,
.order-print td
.order-print th
{
	font-family:sans-serif;
}
.order-print .order-table{
	border:1px solid black;
	clear:both;
}
.order-print .order-table td{
	border:1px solid black;
	padding:1px 10px;
	vertical-align:middle;
	font-size:13px;
}
.order-print .order-table td:nth-child(1), 
.order-print .order-table td:nth-child(3){
	width:15%;
	text-align:center;
}
.order-print .order-table td{
	border:1px solid black;
	padding:5px;
}
.order-print .title-left{
	float:left;
	font-size:20px;
	padding:5px 0
}
.order-print .title-right{
	float:right;
	font-size:15px;
	margin-right:20px;
	padding:5px 0
}
.order-print .pt-10{
	padding-top:20px;
}
.order-print .goods-table{
	border:1px solid black;
	clear:both;
}
.order-print .goods-table td,
.order-print .goods-table th{
	border:1px solid black;
	padding:10px;
	vertical-align:middle;
	font-size:13px;
}
.order-print .goods-table tbody td:nth-child(1), 
.order-print .goods-table tbody td:nth-child(3),
.order-print .goods-table tbody td:nth-child(4){
	width:15%;
	text-align:center;
}
.order-print .goods-table tbody td:nth-child(5){
	width:15%;
	text-align:center;
}
.order-print .goods-table thead{
	border-bottom:2px solid black;
}
.order-print .goods-table tbody td{
	border:1px dotted black;
}
.order-print .goods-table .tfoot td{
	text-align:right!important;
	border:1px solid black;
}
.order-print .goods-table .tfoot.bt-2{
	border-top:2px solid black;
}
.order-print .goods-table .tfoot tr:nth-child(2){
	background-color:lightGrey!important;
	 -webkit-print-color-adjust: exact; 
}
.order-print .goods-table .preview{
	max-width:60px;
	max-height:60px;
}
.order-print .goods-table .barcode{
	max-height:60px;
	max-width:140px;
}
.order-print .gubun{
	margin-top:50px;
}
.order-print .order-app-price{
	font-weight:bold;
	font-size:16px!important;
}

/* loading image style */
.wrap-loading{
	position: fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index : 99999;
}
.wrap-loading div{
	position: fixed;
	position: fixed;
    top:50%;
     left:50%; 
    margin-left: -21px;
    margin-top: -21px;
}

.fa{
	width:21px;
	height:21px;
}
.fa-angle-double-left{
	background-image:url("/resources/content/images/icon/pager_prev02.png")!important
}
.fa-angle-left{
	background-image:url("/resources/content/images/icon/pager_prev.png")!important
}
.fa-angle-right{
	background-image:url("/resources/content/images/icon/pager_next.png")!important
}
.fa-angle-double-right{
	background-image:url("/resources/content/images/icon/pager_next02.png")!important
}
